.footer {
  background: #F2F6F7;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: "TT Norms";
}
@media (max-width: 768.98px) {
  .footer {
    padding-bottom: 70px;
  }
}
.footer__listswrapper {
  padding-bottom: 30px;
  border-bottom: 1px solid #E2E4EB;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  .footer__listswrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
@media (max-width: 1240px) {
  .footer__listswrapper {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media (max-width: 768.98px) {
  .footer__listswrapper {
    flex-flow: column nowrap;
  }
}
.footer__title {
  white-space: nowrap;
  display: inline-block;
  font-family: "TT Norms medium";
  font-size: 18px;
  line-height: 26px;
  color: var(--link);
  margin-bottom: 10px;
}
.footer__flowerlist {
  position: static;
  display: inline-block;
}
@media (min-width: 768.98px) {
  .footer__flowerlist {
    flex: 0 0 30.333%;
  }
}
@media (min-width: 1240.98px) {
  .footer__flowerlist {
    flex: 0 0 auto;
  }
}
@media (min-width: 320px) {
  .footer__flowerlist:last-child ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}
@media (min-width: 768.98px) {
  .footer__flowerlist:last-child ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}
@media (min-width: 320px) {
  .footer__flowerlist:last-child li {
    flex: 0 1 45%;
  }
}
@media (min-width: 425.98px) {
  .footer__flowerlist:last-child li {
    flex: 1 1 100%;
  }
}
.footer__flowerlist--wrapper {
  background: #F2F6F7;
  height: auto;
  overflow: hidden;
  max-height: 0;
  transition: all var(--fast-transit);
}
@media (min-width: 768.98px) {
  .footer__flowerlist--wrapper {
    height: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
    max-height: 500px;
  }
}
@media (max-width: 768px) {
  .footer__flowerlist--wrapper {
    height: auto;
    overflow: hidden;
    max-height: 0;
    transition: all var(--fast-transit);
  }
}
.footer__flowerlist--list {
  background: #F2F6F7;
  padding-bottom: 15px;
}
.footer__flowerlist--item {
  display: block;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #353949;
  margin-bottom: 5px;
}
.footer__flowerlist--item:last-child {
  margin-bottom: 0px;
}
@media (max-width: 768.98px) {
  .footer__flowerlist--item {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer__flowerlist--item span {
  margin-bottom: 0;
}
@media (max-width: 768.98px) {
  .footer__flowerlist--item span {
    font-size: 14px;
    line-height: 22px;
  }
}
.footer__column {
  display: flex;
  flex-flow: column;
}
@media (min-width: 768.98px) {
  .footer__column {
    flex: 0 0 30.333%;
  }
}
@media (min-width: 1240.98px) {
  .footer__column {
    flex: 0 0 auto;
  }
}
.footer__contactswrapper {
  padding-top: 22px;
  display: flex;
}
@media (max-width: 320px) {
  .footer__contactswrapper {
    flex-flow: column wrap;
    align-items: center;
  }
}
@media (min-width: 320px) {
  .footer__contactswrapper {
    flex-flow: column wrap;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer__contactswrapper {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__desqr {
  font-size: 14px;
  line-height: 20px;
  color: #505567;
  padding-bottom: 20px;
  white-space: nowrap;
}
.footer__credits {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer__credits {
    margin-bottom: 0px;
  }
}
.footer__credits--item {
  margin-right: 15px;
}
.footer__credits--item:last-child {
  margin-right: 0;
}
.footer__contacts {
  display: flex;
  align-items: center;
}
.footer__contacts--item {
  margin-right: 15px;
}/*# sourceMappingURL=footer.css.map */