.burgers {
  display: none;
}
@media (max-width: 840.98px) {
  .burgers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (max-width: 840.98px) {
  .burger__close {
    width: 24px;
    height: 24px;
    display: inline;
    width: 2rem;
    background-color: inherit;
    position: relative;
    z-index: 28;
    right: 0;
  }
}

@media (max-width: 840.98px) {
  .line__close {
    position: absolute;
    top: 0;
    right: 5%;
    margin-top: 0.5rem;
    line-height: 2rem;
    width: 100%;
    height: 100%;
    background-image: url(/assets/icons/crosshair.png);
    background-repeat: no-repeat;
  }
}

.burger {
  display: none;
  z-index: 15;
  background-color: inherit;
}
@media (max-width: 840.98px) {
  .burger {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
  }
}
.burger__top-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 75vw;
}
@media (max-width: 340.98px) {
  .burger__top-text {
    width: 90vw;
  }
}
.burger__top {
  display: none;
}
@media (max-width: 840.98px) {
  .burger__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border--cl);
  }
}
.burger__top--img {
  flex: 0 0 22px;
  height: 100%;
}
.burger__clocks {
  display: none;
}
@media (max-width: 840.98px) {
  .burger__clocks {
    display: block;
    margin-left: 2%;
    margin-top: 0.2rem;
    display: flex;
    justify-self: flex-start;
  }
}
@media (max-width: 300.98px) {
  .burger__clocks {
    font-size: 12px;
  }
}

.line {
  position: absolute;
  left: 10%;
  top: 0;
  line-height: 1rem;
  width: 18px;
  height: 2px;
  background-color: var(--text);
  border-radius: 20%;
  margin-top: 3px;
}
.line:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 2px;
  background-color: var(--text);
  border-radius: 20%;
  margin-top: 6px;
}
.line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 2px;
  background-color: var(--text);
  border-radius: 20%;
  margin-top: 12px;
}

.active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  transition: var(--ease-transit);
  font-size: 14px;
  opacity: 1;
  z-index: 100;
  visibility: visible;
  overflow-y: auto;
}

.brgimage {
  margin-right: 0.72rem;
}

.bgSocial {
  margin-right: 1.45rem;
}

.social__wrapper {
  display: none;
}
@media (max-width: 840.98px) {
  .social__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    margin-left: 1.45rem;
    margin-bottom: 56px;
    padding-bottom: 25px;
  }
}

.social__wrapper--head {
  flex: 1 1 100%;
  margin-bottom: 1.1rem;
  font-size: 16px;
}

#firstmenu {
  display: block;
}
@media (max-width: 840.98px) {
  #firstmenu {
    display: none;
  }
}

#burgermenu {
  display: none;
}
@media (max-width: 840.98px) {
  #burgermenu {
    display: block;
  }
}

.burgercontact {
  display: none;
}
@media (max-width: 840.98px) {
  .burgercontact {
    display: block;
    margin-left: 1.45rem;
  }
  .burgercontact:not(:last-child) {
    margin-bottom: 1.1rem;
  }
  .burgercontact:last-child {
    margin-bottom: 2.2rem;
  }
}
.burgercontact__block {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-family: "TT Norms";
  color: #1B1C21;
}
.burgercontact__link {
  display: flex;
  align-items: center;
  width: 16rem;
}/*# sourceMappingURL=burger.css.map */