.search {
  &-title {
    display: inline-block;
    margin-bottom: 20px;
  }
}

.cartshop {
  &-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    @media(max-width:768.98px){
      padding: 5px 15px;
    }
  }

  &-title {
    color: #222a46;
    align-self: flex-start;
    justify-self: left;

  }

  &-subtitle {
    color: #7d818e;
  }

  &-list {
    max-width: 70vw;
    font-family: "TT Norms";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #e3e3e8;
    border-radius: 10px;
    line-height: 1;
    @media (max-width: 768.98px) {
      max-width: none;
      // max-width: 600px;
      // max-width: calc(280px + (660 - 280) * ((100vw - 320px) / 880));;
    }
  }

  &-body {
    font-family: "TT Norms";
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;
    color: #222a46;
    max-width: 205px;
    line-height: 1;
    @media(max-width:767.98px){
      margin-right: 5px;
      max-width: calc(105px + (204 - 105) * ((100vw - 320px) / 880));
    }
  }

  &-item {
    padding: 20px 30px;
    border-top: 1px solid #e3e3e8;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 50%;
    @media (max-width: 510.98px) {
      flex-wrap: wrap;
      justify-content: stretch;
      padding: 10px 10px;
    }
    & > img {
      width: 90px;
      height: 90px;
      // object-fit: cover;
      border-radius: 10px;
      margin-right: 20px;
      @media(max-width:768.98px){
        margin-bottom: 10px;
      }
    }

    &:first-child {
      border-top: none;
      display: flex;
      justify-content: space-between;
    }
  }
  &__rightside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    flex: 1 1 50%;
    @media (max-width: 768.98px) {
      // margin-left: 110px;
      // margin-left: calc(50px - (110 - 50) * ((100vw - 320px) / 880));
      margin-left: auto;
      flex: 1 1 100%;
      max-width: 280px;
      min-width: 170px;
    }
  }
  &-calculator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    border: 1px solid #d0d2d7;
    border-radius: 5px;
    height: 40px;
    width: 108px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    &--plus {
      border: none;
      width: 24px;
      height: 24px;
      background-color: white;
    }

    &--minus {
      border: none;
      width: 24px;
      height: 24px;
      background-color: white;
    }
  }
}

.xcross {
  position: relative;
  border-radius: 50px;
  border: 2px solid #e2e4eb;
  display: flex;
  align-self: center;
  width: 24px;
  height: 24px;
  background: inherit;
  transition: all 0.4s ease;
  
  &:hover {
    border-color: #e2195b;
  }
  &:hover > &-line {
    background-color: #e2195b;
  }
  &-line {
    position: absolute;
    top: 40%;
    left: 13%;
    height: 3.5px;
    width: 15px;
    border-radius: 50px;
    background-color: #e2e4eb;

    transition: all 0.4s ease;
    // &:hover{
    //   background-color: #E2195B;
    // }
    &--one {
      transform: rotate(-40deg);
    }
    &--two {
      transform: rotate(40deg);
    }
  }
}
